{% if {{include.lang}} == 'ES' %}
	{% assign education = site.data.education.education-es %}
{% else %}
	{% assign education = site.data.education.education %}
{% endif %}

<section class="section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i> {{ education.title }}</h2>

    {% for entry in education.items %}

    <div class="item">
        <h4 class="job-title">{{ entry.title }}</h4>
        <div class="time">{{ entry.time }}</div>
        <h5 class="company">{{ entry.place }}</h5>
        
    </div>
    <!--//item-->

    {% endfor %}

</section>