<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ site.baseurl }}/">{{ site.data.general.title }}</a></h1>
      <div class="profile-container">
        <img class="profile-img" src="{{ site.baseurl }}/img/pp.jpg" alt="profile picture">
      </div>

      <div class="contact-block">
        {% if site.data.general.linkedin %}
        <a href="{{ site.data.general.linkedin }}"><i class="fa fa fa-linkedin"></i></a>
        {% endif %}
        {% if site.data.general.twitter %}
        <a href="{{ site.data.general.twitter }}"><i class="fa fa fa-twitter"></i></a>
        {% endif %}
        {% if site.data.general.tumblr %}
        <a href="{{ site.data.general.tumblr }}"><i class="fa fa fa-tumblr"></i></a>
        {% endif %}
        {% if site.data.general.email %}
        <a href="mailto:{{ site.data.general.email }}"><i class="fa fa fa-envelope"></i></a>
        {% endif %}
      </div>

      <p class="lead">{{ site.data.general.description }}</p>
    </div>

    <div>
      <ul class="sidebar-nav">
        {% for link in site.data.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url %}
            {% assign current = 'active' %}
          {% endif %}
          <li class="sidebar-nav-item {{ current }}">
            <a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>

      <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
  </div>
</div>
